In [1]:
import sys
reload(sys)
sys.setdefaultencoding('utf-8')

In [2]:
import pandas as pd

In [3]:
train = pd.read_table('data/labeledTrainData.tsv', header=0)

In [4]:
test = pd.read_table('data/testData.tsv', header=0)

In [5]:
train.head()

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

In [6]:
print 1

In [7]:
train['id'] = train['id'].apply(lambda x: "train_%s" % x)

In [8]:
train.head()

             id  sentiment                                             review
0  train_5814_8          1  With all this stuff going down at the moment w...
1  train_2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  train_7759_3          0  The film starts with a manager (Nicholas Bell)...
3  train_3630_4          0  It must be assumed that those who praised this...
4  train_9495_8          1  Superbly trashy and wondrously unpretentious 8...

In [9]:
test['id'] = test['id'].apply(lambda x: "test_%s" % x)

In [10]:
all_ = pd.concat([train, test])

In [11]:
all_.shape

(50000, 3)

In [12]:
all_.count()

id           50000
review       50000
sentiment    25000
dtype: int64

In [13]:
all_.to_csv('data/all.csv', index=None)